


<h1 class="text-center">Login Page</h1>

<form asp-action="Login" method="post">
	<label>Username</label>
	<input class="form-control" type="text" autocomplete="off" name="username" />
	<label>Password</label>
	<input class="form-control" type="text" anme="password"/>
	<button type="submit">submit</button>
	
</form>
